---
import LinkedIn from './../icons/LinkedIn.astro'
import Github from './../icons/Github.astro'
import Email from './../icons/Email.astro'
---

<section class="mx-auto w-[300px] md:w-[700px] my-10" id="aboutMe">
    <h1 class="text-4xl my-8">Soy Franz Rony Ventocilla Tamara</h1>
    <div class="flex justify-between w-full my-8 flex-wrap items-center gap-3">
        <div class="w-[200px] grow text-lg"> 
            Me especializo en 
            <h1 class="inline text-[#F38F7B] font-bold">desarrollo web</h1>
            , con interés en análisis de datos y computación en la nube. Cuento con 
            <h1 class="inline text-[#F38F7B] font-bold">estudios finalizados</h1> 
            en la carrera <h1 class="inline text-[#F38F7B] font-bold">Ciencia de la Computación</h1> 
            de la <h1 class="inline text-[#F38F7B] font-bold">Universidad Nacional de Ingeniería (UNI)</h1>.
        </div>
        <picture class="flex justify-center grow">
            <img src="images/perfil-franz.webp" alt="photo profile" class="object-cover rounded-full w-44 h-44 md:w-[200px] md:h-[200px] ">
        </picture>
    </div>

    <nav class="flex gap-4 mt-8 flex-wrap justify-center md:justify-start ">
        <a class="bg-white/5 
            border border-white/10 rounded-full
            flex justify-center items-center gap-x-2
            py-1 px-2 md:py-2 md:px-4
            text-xs md:text-base
            text-white/50
            transition
            hover:scale-110 hover:bg-white/10" 
            href="https://www.linkedin.com/in/franz-rony-ventocilla-tamara-51793b219/" 
            target="_blank" 
            rel="noopener noreferrer">  
            <LinkedIn class="size-4 md:size-6"/>
            LinkedIn
        </a>
        <a class="bg-white/5 
            border border-white/10 rounded-full
            flex justify-center items-center gap-x-2
            py-1 px-2 md:py-2 md:px-4
            text-xs md:text-base
            text-white/50
            transition
            hover:scale-110 hover:bg-white/10" 
            href="https://github.com/Franz04Rony" 
            target="_blank" 
            rel="noopener noreferrer">  
            <Github class="size-4 md:size-6"/>
            GitHub
        </a>

        <a class="bg-white/5 
            border border-white/10 rounded-full
            flex justify-center items-center gap-x-2
            py-1 px-2 md:py-2 md:px-4
            text-xs md:text-base
            text-white/50
            transition"
            rel="noopener noreferrer">  
            <Email/>
            fventocillat@gmail.com
        </a>
    </nav>
</section>