---
import Calendar from './../icons/Calendar.astro'
---
<section class="mx-auto w-[300px] md:w-[700px] my-10" id="experience">
    <h1 class="text-4xl my-8">Experiencia Laboral</h1>
    
    <ol class="relative border-s border-gray-200 dark:border-gray-700 -z-10">                  
        <li class="mb-10 ms-6">            
            <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                <Calendar class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300"/>
            </span>
            <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Practicante de informática - Port It Global</h3>
            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Marzo 2023 - Octubre 2023 (8 meses) </time>
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Responsable de la creación de componentes en React para un sistema ERP y facilitar el consumo de datos al frontend mediante el manejo de endpoints y peticiones de la base de datos desde el backend utilizando Express y Nest.</p>    
        </li>
        
    </ol>
</section>