---
const year = new Date().getFullYear() 
---
<section class="mx-auto w-[300px] md:w-[700px] mt-10 mb-6">
    <h1 class="text-center">
        Franz Rony Ventocilla Tamara - {year}.
    </h1>

</section>