<header class="py-3 flex justify-center sticky top-0 backdrop-blur-2x1 mx-auto">
    <nav class="
    border border-black rounded-full
    px-3 py-1
    flex flex-row items-center
    bg-neutral-200 dark:bg-black/55
    backdrop-blur-2xl
    z-20
   ">
        <a class="cursor-pointer py-2 px-3 hover:bg-white/30 rounded-full select-none"  >
            Sobre mí
        </a>

        <a class="cursor-pointer py-2 px-3 hover:bg-white/30 rounded-full select-none">
            Experiencia
        </a>

        <a class="cursor-pointer py-2 px-3 hover:bg-white/30 rounded-full select-none">
            Proyectos
        </a>

        <a class="cursor-pointer py-2 px-3 hover:bg-white/30 rounded-full select-none">

        </a>
    </nav>
</header>