<section class="mx-auto w-[300px] md:w-[700px] my-10">
    <h1 class="text-4xl my-8">
        Proyectos
    </h1>
    <div class="flex gap-8 flex-wrap">
        <a href="#" class="flex flex-col items-center
         bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100
         md:flex-row md:max-w-xl 
        dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <img class="object-cover w-full rounded-t-lg h-30 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="images/perfil-franz.webp" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, et laudantium? Vitae, enim! Illo enim quaerat possimus, voluptates ut nulla ratione, molestiae illum a non expedita sit vel suscipit. Dolores cupiditate totam ea cumque corrupti dolor voluptatem repellendus corporis ipsam voluptate, deleniti ratione iste pariatur at. Mollitia aliquid nisi nihil?</p>
            </div>
        </a>

        <a href="#" class="flex flex-col items-center
         bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100
         md:flex-row md:max-w-xl 
        dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <img class="object-cover w-full rounded-t-lg h-30 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="images/perfil-franz.webp" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
        </a>

    </div>
</section>